{% extends "base.html" %}
{% block title %}Clientes{% endblock %}
{% block content %}
<form action="{{ url_for('cliente.formCliente') }}" method="POST">
    <label class="form-label__title">Clientes</label>
    <div class="d-grid gap-2 d-md-flex justify-content-md-end">
        <button class="btn btn-primary" type="submit" name="formNovo"><i class="fas fa-plus"></i> Novo
        </button>
    </div>
    <table class="table">
        <thead class="thead-light">
            <tr>
                <th scope="col">#</th>
                <th scope="col">Nome</th>
                <th scope="col">CPF</th>
                <th scope="col">Telefone</th>
                <th scope="col">Compra Fiado</th>
                <th scope="col">Dia Fiado</th>
                <th scope="col">Senha</th>
            </tr>
        </thead>
        <tbody>
            {% if result %}
            {% for row in result[0] %}
            <tr>
                <th scope="row"> {{ row['id_cliente'] }}</th>
                <td> {{ row['nome'] }}</td>
                <td> {{ row['cpf'] }}</td>
                <td> {{ row['telefone'] }}</td>
                <td> {{ row['compra_fiado'] }}</td>
                <td> {{ row['dia_fiado'] }}</td>
                <td> {{ row['senha'] }}</td>
                <td>
                    <form action="{{ url_for('cliente.formEditCliente') }}" method="POST"
                        name="formEdit{{ row['id_cliente'] }}"><input type="hidden" name="id"
                            value="{{ row['id_cliente'] }}">
                        <button style="background-color: #ffffff; border: none;" type="submit" name="formEditCliente">
                            <i class="fas fa-edit"></i></button>
                    </form>
                </td>
            </tr>
            {% endfor %}
            {% endif %}
        </tbody>
    </table>
</form>
{% endblock %}