{% extends "base.html" %}
{% block title %}Produtos{% endblock %}
{% block content %}
<form action="{{ url_for('produto.formProduto') }}" method="POST">
    <label class="form-label__title">Produtos</label>
    <div class="d-grid gap-2 d-md-flex justify-content-md-end">
        <button class="btn btn-primary" type="submit" name="formNovo"><i class="fas fa-plus"></i> Novo
        </button>
    </div>
    <table class="table">
        <thead class="thead-light">
            <tr>
                <th scope="col">#</th>
                <th scope="col">Nome</th>
                <th scope="col">Descrição</th>
                <th scope="col">Valor Unitário</th>
                <th scope="col">Foto</th>
                <th scope="col"></th>
                <th scope="col"></th>
            </tr>
        </thead>
        <tbody>
            {% if result %}
            {% for row in result[0] %}
            <tr>
                <th scope="row"> {{ row['id_funcionario'] }}</th>
                <td> {{ row['nome'] }}</td>
                <td> {{ row['descricao'] }}</td>
                <td> {{ row['valor_unitario'] }}</td>
                <td> {{ row['foto'] }}</td>
                <td><i class="fas fa-edit"></i></td>
                <td><i class="fas fa-trash"></i></td>
            </tr>
            {% endfor %}
            {% endif %}
        </tbody>
    </table>
</form>
{% endblock %}