{% extends "base.html" %}
{% block title %}Produtos{% endblock %}
{% block content %}
<form action="{{ url_for('produto.formProduto') }}" method="POST">
    <label class="form-label__title">Produtos</label>
    <div class="d-grid gap-2 d-md-flex justify-content-md-end">
        <button class="btn btn-primary" type="submit" name="formNovo"><i class="fas fa-plus"></i> Novo
        </button>
    </div>
    <table class="table">
        <thead class="thead-light">
            <tr>
                <th scope="col">#</th>
                <th scope="col">Nome</th>
                <th scope="col">Descrição</th>
                <th scope="col">Valor Unitário</th>
                <th scope="col">Foto</th>
            </tr>
        </thead>
        <tbody>
            {% if result %}
            {% for row in result[0] %}
            <tr>
                <th scope="row"> {{ row['id_produto'] }}</th>
                <td> {{ row['nome'] }}</td>
                <td> {{ row['descricao'] }}</td>
                <td> {{ row['valor_unitario'] }}</td>
                <td> <img src="{{ row['foto'] }}" style="width: 2%;"></td>
                <td>
                    <form action="{{ url_for('produto.formEditProduto') }}" method="POST"
                        name="formEdit{{ row['id_produto'] }}"><input type="hidden" name="id"
                            value="{{ row['id_produto'] }}">
                        <button style="background-color: #ffffff; border: none;" type="submit"
                            name="formEditProduto"> <i class="fas fa-edit"></i></button>
                    </form>
                </td>
                <td>
                    <form method='POST' name='jsDelete' id='jsDelete'>
                        <input type='hidden' name='id_produto' value="{{ row['id_produto'] }}">
                        <button style="background-color: #ffffff; border: none;" type="submit"
                            name="formDeleteProduto"> <i class="fas fa-trash"></i></button>
                    </form>
                </td>
            </tr>
            {% endfor %}
            {% endif %}
        </tbody>
    </table>
</form>
{% endblock %}
{% block jslist %}
<script>
    $("form[name='jsDelete']").submit(function (e) {
        // parar o envio para poder fazer manualmente
        e.preventDefault();
        Swal.fire({
            title: '', text: "Deseja realmente excluir: " + $(e.target)[0][0].value,
            icon: 'warning', showCancelButton: true,
            confirmButtonColor: '#3085d6', cancelButtonColor: '#d33',
            cancelButtonText: 'Cancelar', confirmButtonText: 'Sim'
        }).then((result) => {
            if (result.isConfirmed) {
                deletarProduto($(e.target)[0][0].value); // Retorna o valor que está no id
            }
        })
    })
    // sempre pega a url da barra de endereço
    $SCRIPT_ROOT = {{ request.script_root | tojson | safe }};
    function deletarProduto(idProduto) {
        $.post($SCRIPT_ROOT + "{{ url_for('produto.delete') }}", {
            id_produto: idProduto
        }, function (data) {
            if (!data.erro) {
                Swal.fire({
                    title: '', text: 'ID' + data.msg.id + ', ' + data.msg.msg,
                    icon: 'success', showCancelButton: false,
                    confirmButtonColor: '#3085d6', cancelButtonColor: '#d33', confirmButtonText: 'OK'
                }).then((result) => {
                    if (result.isConfirmed) {
                        window.location.replace($SCRIPT_ROOT + "{{ url_for('produto.formListaProduto') }}");
                    }
                })
            }
            else {
                Swal.fire(data.msgErro.msg, data.msgErro.erro, "error");
            }
        }
        )
    }
</script>
{% endblock %}