nav {
    background-color: #727c83;
}

.nav-link{
    color: rgb(223, 222, 222);
}

.important {
    color: #727c83;
}

.form-label__title {
    font-size: 30px;
}

.form-label__description {
    font-size: 15px;
}

.row--border {
    border: 2px solid #e3f2fd;
    padding: 10px;
}

.row--login {
    width: 30%;
    background-color: #dae9e9;
}

.row--buttons {
    margin-top: 10px;
}

.row--login-buttons {
    background-color: #8064A2 !important;
}

.row__textarea {
    height: 80px
}

.footer {
    background-color: #727c83;
}

.login__button, .login__button:hover, .login__button:active, .login__button:visited {
    background-color: #8064A2 !important;
}